* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

:root {
  /* main color */

  --main-brown-light: #dbc184;
  --main-brown-dark: #4f411f;
  --main-brown-light-desc: #c9b78c;

  --main-brown-background: #725d2b;

  --main-brown-transparent: #dbc184b0;
  --main-brown-light-transparent: #c9b78c4d;
  --main-brown-dark-tranparent: #4f411fc9;

  --main-brown-scroll-light: #988459;
  --main-brown-scroll-dark: #523b0a;

  --main-green-dark: #1f715d;
  --main-green-dark-transparent: #58b588b0;

  --main-white: #ffffff;

  --main-green-font: #1f715d;
  --main-white-font: #ffffff;

  /* light color */

  --main-beige-light: #f0e7d8;

  --main-beige-background: #e1cc97;

  --main-brown-light: #7e662c;
  --main-brown-dark: #4f411f;

  --main-green-dark: #1f715d;
  --main-green-dark-transparent: #58b588b0;
  --main-green-light-transparent: #bcf3d8b0;

  --main-white: #ffffff;

  --main-green-font: #1f715d;
  --main-brown-font: #4f411f;

  /* dark color */

  --main-green-dark: #1f715d;
  --main-green-dark-transparent: #58b588b0;

  --main-white: #ffffff;

  --main-green-font: #1f715d;
  --main-white-font: #ffffff;
}
