.sliderContainer {
  margin: 4rem 0 2rem 0;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100vw;
  height: 18rem;
  overflow: hidden;
  position: relative;

  .slider {
    grid-area: 1 / 1 / 2 / 2;
    
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out;
  }

  .slider > * {
    width: 33.333%;
  }

  .buttonContainer {
    width: 100%;
    position: relative;
    margin-top: -5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    button {
      border: 2px solid var(--border-color-white);
      border-radius: 50px;
      height: 1.1rem;
      width: 3rem;

      background-color: transparent;
    }

    .active {
      background-color: var(--background-color-white);
    }
  }
}
