.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.65rem;

    font-size: 24px;

    margin-top: 3.5rem;

    cursor: pointer;

    a {
        color: var(--font-color-white);
        text-decoration: none;
    }
}