.social {
  width: 100vw;
  padding: 0 4rem 0 2rem;

  display: grid;
  grid-template-columns: 33% 33% 33%;

  gap: 1rem;

  a {
    background-color: transparent;
    border: 2px solid var(--border-color-white);
    border-radius: 50px;
    height: 47px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    figure {
      height: 30px;

      img {
        height: 100%;
      }
    }
  }
}
