.projects {
  width: 100vw;
  margin: 1rem 0 1.2rem 0;
  padding: 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  @media screen and (min-width: 880px) and (max-width: 1480px) {
    padding: 0 12vw;
  }

  @media screen and (min-width: 1480px) {
    max-width: 30rem;

    position: absolute;
    top: 14rem;
    left: 52%;
    transform: translate(50%, 50%);
  }

  .button {
    width: 100%;
  }

  button {
    width: 100%;
    border-radius: 50px;
    border: 2px solid var(--border-color-white);

    font-size: 30px;
    color: var(--font-color-black);

    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  i {
    font-size: 31px;
    color: var(--font-color-black);
    background-color: var(--background-color-white);
    border: 2px solid var(--border-color-white);
    border-radius: 50%;

    height: 47px;
    min-width: 47px;
    margin: 0;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
  }
}

.projects a {
  text-decoration: none;
}

.projects:hover {
  button, i {
    background-color: transparent;
    color: var(--font-color-white);
    border: 2px solid var(--border-color-white);
  }
}