.name {
  font-size: 30px;
  font-weight: var(--font-weight);
  padding-left: 2rem;
  max-width: 7ch;
  line-height: 1.4;

  cursor: default;
  @media screen and (min-width: 880px) {
    padding: 2rem 0 0 12vw;
  }
}
