.language {
    width: 13.5rem;
    height: 13.5rem;
    border-radius: 50%;
    border: var(--style-color) 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: -3rem;
    right: -4rem;

    p {
        font-size: 30px;
        margin: 0 2rem 0 0;

        color: var(--font-color-grey);
        
        cursor: pointer;
    }

    .fr {
        margin-top: .5rem;
    }

    .actif {
        color: var(--font-color-white)
    }
}