* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: var(--background-color-black);
  font-family: var(--atkinson-regular);
  font-weight: var(--font-weight);
  font-style: var(--regular-style);
  color: var(--font-color-white);
}

:root {
  /* BACKGROUND */
  --background-color-black: #131313;
  --background-color-grey: #49494981;
  --background-color-white: #FFFFFF;

  /* STYLES */
  --style-color: #ce7f00;

  /* FONTS */
  --font-color-white: #ffffff;
  --font-color-grey: #a7a7a7;
  --font-color-black: #1E1E1E;

  /* BORDER */
  --border-color-white: #ffffff;
  --border-color-grey: #484848;

  /* FONTS */
  --atkinson-regular: "Atkinson Hyperlegible", sans-serif;
  --font-weight: 400;
  --regular-style: normal;
  --italic-style: italic;
}